@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    color:#212121;
    font-family: 'Roboto', sans-serif;
}

#root{
    width: 100vw;
}

.mobile{
    height: auto;
    width: 100vw;
    overflow-x: unset;
    overflow-y: unset;
    font-family: 'Roboto', sans-serif;
}

.header{
    width: auto;
    padding: 20px 24px;
    background-color: #0D69FD;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: safe;
}

.header h2{
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px;
    color: #fff;
}

.header svg{
    color: #fff;
    padding: 0 8px;
}

.body{
    padding: 16px;
    background-color: #F8F8F8;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.disclaimer{
    display: flex;
    align-items: center;
    justify-content: safe;

    padding: 8px;
    background-color: #E8F1FF;
    color: #0D69FD;
    margin-bottom: 24px;
    border-radius: 8px;
}

.disclaimer p{
    color: #0D69FD;
    width: 293px;
    font-size: 12PX;
    font-weight: 500;
    margin-left: 8px;
}

.info{
    margin-bottom: 24px;
}

.info h6{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.info__line{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 14px;
    line-height: 24px;
}

.bold {
    font-weight: 500;
}


.positions h6{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.group_card{
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    justify-content: space-between;

    padding: 16px;
    background-color: #fff;
    margin-bottom: 4px;
    border-radius: 8px;
}

.card p{
    font-size: 14px;
}

.card a{
    font-size: 14px;
    color: #0D69FD;
    text-decoration: none;
    font-weight: 500;
    
}

.btn{
    background-color: #0F6EFE;
    box-shadow: 0px 2px 12px rgba(73, 80, 87, 0.24);
    border-radius: 8px;
    padding: 11px 8px;
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;

    display: flex;
    align-items: cent;
    justify-content: center;
}

.btn:hover{
    background-color: #144286;
}

/* Width */

@media (max-width: 900px) {
    .rf h1{
        color: red;
    }
}
