
.rf{
    color: #2B2F35;
    font-family: 'Poppins';

    margin-left: 32px;
    margin-top: 32px;
}

.rf h1{

    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 52px;
    color: #2B2F35;

    margin-bottom: 24px;
}

.rf h5{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;

    margin-bottom: 24px;
}

.rf p{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    margin-bottom: 32px;
}

.box-inp{
    display: flex;
    flex-direction: column;
}

.inputzera{
    border: 1px solid #6B7786;
    

    padding: 11px 16px;
    width: 278px;
    border-radius: 8px;

    margin-bottom: 24px;
}

.inputzera::placeholder{
    color: #C7CDD6;
}

.btn-rf{
    background-color: #0F6EFE;
    box-shadow: 0px 2px 12px rgba(73, 80, 87, 0.24);
    border-radius: 8px;
    padding: 11px 8px;
    text-decoration: none;
    color: #fff;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}



@media (max-width: 900px) {
    .rf h1{
        color: red;
    }
}

@media (max-width: 481px) {
    .rf h1{
        color: blue;
    }
}

@media (max-width: 400px) {
    .rf h1{
        color: green;
    }
}