:root {
    --bg-light: #f2f4f9;
    --main-color: #3aafc9;
    --text-color: #6f7da2;
    --title-color: #141e39;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
}

/* #root {
    width: 85%;
    max-width: 1180px;
    margin: 0 auto;
} */

.center {
    width: 85%;
    max-width: 1500px;
    margin: 0 auto;
}

